<ion-view view-title="SETTINGS">
  <ion-content>
  	<button  class="button button-large button-full button-positive icon-left ion-wand" ng-click="surveySettingsForm = !surveySettingsForm">
    	Survey Settings
    </button>
    <div class="animate-show" ng-hide="surveySettingsForm">
		<label class="item item-input item-stacked-label">
			<div class="input-label" >AREA OF SURVEY</div>
		</label>

    <label class="item item-input item-stacked-label item-select">
      <select ng-model="surveySettings.AOS" ng-click="loadArea()">
        <option ng-repeat="area in surveyAreaList" value="{{area.resname}}" >{{area.resname}}</option>
      </select>
    </label>
		<label class="item item-input item-stacked-label">
			<div class="input-label" >AREA COORDINATOR</div>
			<input type="text" placeholder="" ng-model="surveySettings.AC">
		</label><br>
      	<button  class="button button-small button-full button-positive"  ng-click="surveySettingsForm = !surveySettingsForm; surveySettingsSave()">
      	SAVE
      	</button>	
    </div>
  	<button  class="button button-large button-full button-positive icon-left ion-android-sync" ng-click="uploadSettingsForm = !uploadSettingsForm; devPurge()">
    	Sync
    </button>  	


    <div class="animate-show" ng-hide="uploadSettingsForm" >
		<label class="item item-input item-stacked-label">
			<div class="input-label" >SERVER IP ADDRESS</div>
			<input type="text" placeholder="" ng-model="newDomain">
		</label>
		<label class="item item-input item-stacked-label">
			<div class="input-label" >Status: {{serverStatus}}</div>
		</label><br>
    
        <button  class="button button-small button-full button-positive"  ng-click="changeDomain(newDomain)">
        step 1. Set IP Address
        </button> 

        <button  class="button button-small button-full button-positive"  ng-click="testCon(newDomain)">
        step 2. Test Connection
        </button>         

        <button  class="button button-small button-full button-positive"  ng-click="syncRes()">
      	step 3. Connect and Sync
      	</button>	
    </div>    
    <!-- <button class="button button-full" ng-click="purge()">Purge Database!</button> -->
  </ion-content>
</ion-view>


